body {
  background-color: rgb(45,45,45);
}

.App {
  display: flex;
  justify-content: space-around;
}

.block {
  background-color: rgb(83,80,80);
  padding: 20px;
}

.block1 {
  background-color: rgb(238,238,238);
}

img {
  width: 400px;
}

.myBag {
  background-color: rgb(208,19,69);
  color: white;
    cursor: pointer;
  margin: 5px;
  padding: 5px;
}

.categoryButtonSelected {
  background-color: green;
}

.categoryButton {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

.categoryButton:hover {
  background-color: #fdeb6b;
}

.hanger {
  width: 30px;
}

.delete {
  width: 30px;
}

.cloth {
  margin-left: 5%;
}

.bagButton {
  background-color: rgb(0,136,73);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  border-radius: 5px;
  color: white;
  border: none;
}